@model IEnumerable<About.Models.User>

@{
    ViewData["Title"] = "Index";
}

<a asp-controller="Embed" asp-action="readfile">Home</a>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <navbar id="header" class="head bg-secondary row m-0 justify-content-center fixed-top col px-lg-5 px-md-2">
        <div class="d-flex row h-100 px-0">
            <div class="col-md-2 d-none  d-md-block w-auto h-100 px-0" id="logo">
                <img class="h-100"
                     src="https://media1.giphy.com/media/7kn27lnYSAE9O/200.webp?cid=ecf05e47mwx2cuu86ct9i80fhmbahffgmbvl4uq2i6o0b0rq&rid=200.webp&ct=g"
                     alt="logo" class="logo">
            </div>
            <div class="col" id="PageLink">
                <div class="row  h-100 justify-content-md-between">
                    <div class="col-12 col-lg-5 col-md-6 d-flex h-md-100 align-items-end mt-2 mt-md-0">
                        <div class="row col flex-nowrap align-items-end h-50">
                            <button type="button" src="./hackproject.html"
                                    class="col btn btn-secondary border-0 rounded-0 col border-end border-secondary-subtle px-0 px-lg-2">
                                <a asp-controller="Reports" asp-action="Home">
                                    <h5 class="text-center mb-0 " id="languageChoose">首頁</h5>
                                </a>
                            </button>
                            <button type="button" src="./aboutus.html"
                                    class="col btn btn-secondary border-0 rounded-0 col border-end border-secondary-subtle px-0 px-lg-2">
                                <a asp-controller="Users" asp-action="Index">
                                    <h5 class="text-center mb-0" id="languageChoose">關於</h5>
                                </a>
                            </button>
                            <button type="button" src="./QAGpt.html"
                                    class="col btn btn-secondary border-0 rounded-0 col border-md-end border-secondary-subtle">
                                <a asp-controller="Reports" asp-action="UserReport">
                                    <h5 class="text-center mb-0">QAGPT</h5>
                                </a>
                            </button>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-6 gap-3 d-flex align-items-center my-2 my-md-0">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="Users" asp-action="Signout" class="btn btn-primary me-2">@User.Identity.Name</a>
                            @Html.ActionLink("登出", "Signout","Users", null, new { @class="btn btn-danger"})
                        }
                        else
                        {
                            <a class="Create" asp-controller="Users" asp-action="Create"><button class="btn btn-primary me-2" id="languageChoose">註冊</button></a>
                            <a class="login" asp-controller="Users" asp-action="Login"><button class="btn btn-info me-2" id="languageChoose">登入</button></a>
                        }






                        <select name="language" id="language" class=" h-75 w-75">
                            <option selected value="English">English</option>
                            <option value="Chinese">Chinese</option>
                            <option value="Japanese">Japanese</option>
                            <option value="Korean">Korean</option>
                            <option value="French">French</option>
                            <option value="German">German</option>
                            <option value="Italian">Italian</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </navbar>


    

    



@*
    <div class="header">
        <ul class="headinfo">
            <li>
                <img src="https://media1.giphy.com/media/7kn27lnYSAE9O/200.webp?cid=ecf05e47mwx2cuu86ct9i80fhmbahffgmbvl4uq2i6o0b0rq&rid=200.webp&ct=g"
                     alt="">
            </li>
            <li><a asp-controller="Reports" asp-action="Home">Home</a></li>
            <li><a asp-controller="Users" asp-action="Index">about us</a></li>
            <li><a asp-controller="Reports" asp-action="UserReport">QAgpt</a></li>
        </ul>
        <ul class="account" id="account">
            

            @if (User.Identity.IsAuthenticated)
            {
                <li><a asp-controller="Users" asp-action="Signout" class="btn btn-primary me-2">@User.Identity.Name</a></li>
                <li>@Html.ActionLink("登出", "Signout","Users", null, new { @class="btn btn-danger"})</li>
            }
            else
            {
                <li>
                    <a class="Create" asp-controller="Users" asp-action="Create">Sign up</a>
                </li>
                <li>
                    <a class="login" asp-controller="Users" asp-action="Login">Log in</a>
                </li>
            }
            <li>
                <select name="language" id="language">
                    <option value="zh" selected>Chinese</option>
                    <option value="en">English</option>
                    <option value="jp">Japanese</option>
                </select>
            </li>

        </ul>
    </div>*@
   

    <div id="neck" class="w-100 mx-0 bg-secondary-subtle row flex-md-row flex-column align-items-center justify-content-center text-center col">
        <div class="col col-md-7 d-flex flex-column p-5 h-100 align-items-start justify-content-start">
            <h1 class="fw-bold">Who are we</h1>
            <h4 class="text-start" id="languageChoose">我們是來自中華大學的學生，是一群初學網頁的同學組成的專案團隊</h4>
        </div>
        <div class="col col-md-5 p-5 h-100 d-flex align-items-end justify-content-md-end justify-content-center">
            <img class=" w-75" src="/image/175538168.jpg" alt="">
        </div>
    </div>
    <div id="abdomen" class="w-100 mx-0 bg-dark-subtle row p-5 col">
        <h1 class="fw-bold" id="languageChoose">我們的理念</h1>
        <h4 class="text-start" id="languageChoose">我們希望自己能夠在做中學習，保持理性沉穩的思維卻又不死板，活潑有創意。</h4>
        <img class="w-100 h-75" src="/image/pexels-photo-3183150.jpeg" alt="">
    </div>
    <div id="knee" class="bg-body-secondary row mx-0 col py-5">
        <div class="col py-5 d-flex h-100 justify-content-center">
            <h1 class="fw-bold my-5">Enjoy The Challeng</h1>
        </div>
    
    </div>






   <script>
        var language = document.getElementById("language");
        var languageChoose = document.querySelectorAll("#languageChoose");
        let languageData;
        fetch('/Json/AboutLanguage.json')
            .then(response => response.json())
            .then(data => {
                language.addEventListener("change", function () {
                    for (var item in data) {
                        if (item == language.value) {

                            languageData = Object.values(data[item]);
                        }
                    }
                    languageChoose.forEach(function (item, index) {

                        item.innerText = languageData[0][index];
                    })
                })
                window.onload = function () {
                    for (var item in data) {
                        if (item == language.value) {

                            languageData = Object.values(data[item]);
                        }
                    }
                    languageChoose.forEach(function (item, index) {

                        item.innerText = languageData[0][index];
                    })
                }
            })
            .catch(error => {
                // 在這裡處理錯誤
                console.error(error);
            });

    </script>
</body>

</html>


@section topCSS{
        <style>

            body {
                height: auto;
            }

            #header {
                height: 70px;
            }

                #header button {
                    color: black;
                }

                #header h3 {
                    font-weight: bold;
                }

                #header a {
                    color: black;
                    text-decoration: none;
                }

            #neck {
                margin-top: 70px;
            }

                #neck button {
                    height: 50px;
                }

            #knee .imgbox {
                width: 150px;
            }

                #knee .imgbox img {
                    height: 90px;
                }

            #question {
                overflow: auto;
                resize: none;
                font-size: 1.2rem;
                line-height: 1.5rem;
            }

                #question::-webkit-scrollbar {
                    width: 10px; /* 設置滾動條的寬度 */
                }

                #question::-webkit-scrollbar-thumb {
                    background-color: #bbbbbb; /* 設置滾動條的顏色 */
                    border-radius: 5px; /* 設置滾動條的圓角 */
                }

                #question::-webkit-scrollbar-track {
                    background-color: #fff; /* 設置滾動條的背景顏色 */
                    border-radius: 5px; /* 設置滾動條的圓角 */
                    border: none; /* 去掉滾動條的邊框 */
                }

            .QABody {
                margin-top: 70px;
                height: calc(100vh - 70px);
            }

            #QAhead {
                height: 90px;
            }

            #QABox {
                height: calc(100vh - 160px);
            }

                #QABox #response img {
                    width: 70px;
                    height: auto;
                }

                #QABox textarea {
                    resize: none;
                }

                #QABox img {
                    height: 15px;
                }

            .custom-range::-webkit-slider-thumb {
                background-color: white; /* 设置滑块的颜色 */
                border: 1px gray solid;
            }

            .custom-range::-moz-range-thumb {
                background-color: white; /* 设置滑块的颜色 */
                border: 1px gray solid;
            }

            .custom-range::-ms-thumb {
                background-color: white; /* 设置滑块的颜色 */
                border: 1px #808080 solid;
            }

            #History {
                z-index: 25;
                position: relative;
                display: none;
                left: 0px;
                height: calc(100% - 70px);
            }

            #Expand {
                height: 50px;
                width: 50px;
                z-index: 50;
                left: 20%;
                top: 80px;
            }

            #StartUse {
                z-index: 100;
            }

            #micro {
                position: relative;
            }

            .custom-range::-webkit-slider-runnable-track {
                background: linear-gradient(to right, rgb(110, 104, 104) 50%, rgb(208, 208, 208) 0%);
            }

            .custom-range::-moz-range-track {
                background: linear-gradient(to right, rgb(110, 104, 104) 50%, rgb(208, 208, 208) 0%);
            }

            .custom-range::-ms-track {
                background: linear-gradient(to right, rgb(110, 104, 104) 50%, rgb(208, 208, 208) 0%);
            }
        </style>

    @* # sourceMappingURL=hackproject.css.map *@

}

